[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=3.91.208.96
Environment=CATALOGUE_HOST=54.210.1.76
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target